.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: 10rem;
}

.md-header__title > div{
    display:none;
}

:root > * {
  --md-code-hl-comment-color: #008000;
  --md-code-hl-string-color:  #A31515;
}

.md-typeset__table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.smallcaps
{
    font-variant: small-caps;
}
